@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>

    <hr />
    <b>Dette project er lavet af</b>
    <ul>
        <li>Jens Schiøtt Liljenberg</li>
        <li>Jonas Arnskov Holm</li>
        <li>Morten Dissing Harbo</li>
        <li>Morten Stavad</li>
    </ul>

    Dette er et 3 semester projekt i
    Programmering,
    Systemudvikling og
    Teknologi




</div>



