@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Restaurant SamLey</h1>
    <p class="lead">A restaurant service project in development</p>
</div>
@*<div class="row">*@

    <div class="boxed col-md">

        <div id="lipsum">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus, nisi nec lacinia aliquet, nulla est eleifend eros, id blandit enim magna et diam. Duis malesuada massa ut imperdiet semper. Curabitur eu blandit tellus. Proin id eros id nulla vestibulum rhoncus et a erat. Suspendisse porta nec ipsum in lacinia. Aenean posuere eget est a tincidunt. Sed in convallis lacus, eu consequat tellus.
            </p>
            <p>
                Mauris euismod lacus diam, pretium rhoncus neque tempus id. Integer rhoncus at tortor eget euismod. Nam neque mauris, efficitur non neque eget, vehicula dignissim neque. Morbi tincidunt purus metus, eu porttitor tellus pellentesque vel. Morbi sit amet lobortis lacus. Proin in nisi erat. Pellentesque id semper lorem. Fusce placerat ut neque tincidunt efficitur. Sed sed tellus lobortis, interdum nibh id, ullamcorper dolor. Morbi a leo purus. Nunc auctor ipsum quis elit bibendum, et pharetra orci accumsan. Cras pharetra leo at urna rutrum, a fermentum felis interdum. Curabitur ultrices urna eu eros scelerisque accumsan. Suspendisse vitae luctus diam, vel vehicula lectus. Phasellus porttitor eleifend quam, eget aliquam urna.
            </p>
            <p>
                Nam molestie ante nec leo pretium ultrices. Nulla convallis sem non tellus bibendum rutrum. Vestibulum aliquet luctus eros, vitae rhoncus nisl semper non. Pellentesque feugiat libero sodales, suscipit lectus at, consectetur mauris. Morbi consequat ligula eget arcu sodales, eget tincidunt risus placerat. In congue mi at tempor dapibus. Cras tempor consequat est nec interdum. Aliquam in tortor lacus. Sed maximus interdum nunc nec efficitur. Mauris et nibh dapibus turpis lacinia placerat a non risus. Suspendisse potenti. Vestibulum facilisis purus eget sagittis fermentum. Morbi laoreet tellus et congue sollicitudin.
            </p>
            <p>
                Integer dapibus magna vitae tempus iaculis. Proin rhoncus porttitor tellus non maximus. Suspendisse venenatis sit amet nulla eu interdum. Sed facilisis non nisl ut vehicula. Proin euismod orci at lectus varius, vel egestas nisl commodo. Nam fringilla nulla id metus auctor mattis non at est. Pellentesque vitae purus orci. Sed semper lectus maximus urna varius feugiat.
            </p>
            <p>
                Aliquam lectus leo, malesuada sit amet lectus tincidunt, pulvinar congue magna. Nullam non interdum turpis. Mauris vel odio consectetur, vehicula tortor gravida, efficitur lacus. Sed eu ante nec ipsum tincidunt posuere a ac ex. Quisque cursus massa quis urna tempus posuere. Ut quis magna nec velit aliquet convallis. Vivamus ex mauris, dictum nec fringilla vitae, laoreet et massa. Nunc elementum, justo eget ornare eleifend, massa tellus dictum orci, in scelerisque nibh elit sit amet erat. Duis nec feugiat felis. Morbi sodales neque diam. Proin ut turpis a dui maximus accumsan sit amet in orci.
            </p>
        </div>
        <div id="generated"> From: <a href="https://www.lipsum.com/" title="Lorem Ipsum">Lorem Ipsum</a></div>
    </div>