
@{
    ViewBag.Title = "Index";
}

<button onclick="location.href='/Booking/Create'" type="button"> Bestil Mad 
   
</button>

<button onclick="location.href='/Booking/Index'" type="button">
    Gem og afslut

</button>


<h2>Index</h2>

