@model DataTransferObjects.FoodDTO

@{
    <h2> Bestilling af mad</h2>
}
<table style="width: 100% !important; height: 100% !important">
    <tr style="width:100%; height:16%">
        <td rowspan="3">
            <table style="width: 100% !important; height: 100% !important;">
                <tr>
                    <td align="center" style="width:50%">
                        <div>
                            <label>Retter</label>
                        </div>
                        <div id="foodListDiv" style=" overflow: scroll; min-height: 100px; max-height: 300px; width: 90%">
                            <table id="foodTable" style="width:100%; height:100%"></table>
                        </div>
                    </td>
                    <td align="center">
                        <div>
                            <label>Drikkevare</label>
                        </div>
                        <div style="overflow: scroll; min-height:100px; max-height: 300px; width:90%">
                            <table id="drinkTable" style="width:100%; height:100%"></table>
                        </div>
                        <div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <div><button disabled="disabled">Se menu</button></div>
        </td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr style="width:100%; height:100%">
        <td rowspan="2">
            <div style="        overflow: scroll;
        max-height: 100px;
        margin-top: 20px;
        border:medium
">
                <div>
                    <label>Ordre:</label>
                </div>
                <table id="summaryTable" border="1" style="width:100%">
                </table>
            </div>
        </td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr id="FooterCol" style="width:100%; height:16%">
        <td align="right" colspan="2">
            <div><a href="/Booking/Create" onclick="btnBackClick()" class="btn btn-info" role="button"> Back..</a></div>
        </td>
    </tr>
</table>

<script>
    var summary = [];
    var dataFood = ["Some food 1", "Some food 2", "Some food 3", "Some food 4", "Some food 5", "Some food 6"];
    var dataDrink = ["Some drink 1", "Some drink 2", "Some drink 3", "Some drink 4", "Some drink 5", "Some drink 6",];

    function btnBackClick() {

    }

    function updateFoodViewTable() {
        var table = document.getElementById("foodTable");
        table.innerHTML = "";
        dataFood.forEach(
            x => {
                (x)
                var row = table.insertRow(0);
                var c1 = row.insertCell(0);
                c1.innerHTML = x;
            });
    }

    function updateDrinkViewTable() {
        var table = document.getElementById("drinkTable");
        table.innerHTML = "";
        dataDrink.forEach(
            x => {
                (x)
                var row = table.insertRow(0);
                var c1 = row.insertCell(0);
                c1.innerHTML = x + "";
            });
    }

    function addFoodToSummaryList() {


        summary.push(row.value);
        updateSummaryTable();

    }
    function removeDrinkFromSummaryList() {
        var food = "Some drink";
        for (i = 0; i < summary.length; i++) {
            x = summary[i];
            if (x == food) {
                delete summary[i];
                break;
            }
        }
        updateSummaryTable();
    }
    function addDrinkToSummaryList() {
        summary.push("Some drink")
        updateSummaryTable();
    }
    function removeFoodFromSummaryList() {
        var food = "Some food";
        for (i = 0; i < summary.length; i++) {
            x = summary[i];
            if (x == food) {
                delete summary[i];
                break;
            }
        }
        updateSummaryTable();
    }

    function countItems(v) {
        var count = 0;
        summary.forEach((x) => {
            if (x == v) {
                count++;
            }
        });
        return count;
    }
    function updateSummaryTable() {
        var table = document.getElementById("summaryTable");
        var temp = [];
        table.innerHTML = "";
        summary.forEach(
            x => {
                (x)
                if (temp.find(y => y == x) == null) {
                    temp.push(x);
                    var row = table.insertRow(0);
                    var c1 = row.insertCell(0);
                    var c2 = row.insertCell(1);
                    c1.innerHTML = x + "";
                    c2.innerHTML = countItems(x) + " stk.";

                    row.onclick = function () {
                        var item = this.cells[0].innerHTML;
                        for (i = 0; i < summary.length; i++) {
                            x = summary[i];
                            if (x == item) {
                                delete summary[i];
                                break;
                            }
                        }
                        updateSummaryTable();
                    }
                }

            });
    }

    updateFoodViewTable();
    updateDrinkViewTable();

    var table = document.getElementById('drinkTable');

    for (var i = 0; i < table.rows.length; i++) {
        table.rows[i].onclick = function () {
            summary.push(this.cells[0].innerHTML)
            updateSummaryTable();
        };
    }

    var table = document.getElementById('foodTable');

    for (var i = 0; i < table.rows.length; i++) {
        table.rows[i].onclick = function () {
            summary.push(this.cells[0].innerHTML)
            updateSummaryTable();
        };
    }
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>

